{
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "avoid",
  "semi": false,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "useTabs": true,
  "jsxBracketSameLine": true,
  "bracketSameLine": true,
  "bracketSpacing": false,
  "printWidth": 120
}