@import "destyle.css";
$white: #F3F1E5;
$black: #151515;
$gray_dark: #333333;
$gray_light: #e3e2e2;
$gray: #808080FF;
$red: #F8312F;
$green: #00D26A;
$blue: #3F5FFF;
$violet: #8d65c5;
$yellow: #FFF478;
$orange: #FFB02E;

*{
  padding: 0;
  margin: 0;
  color: $white;
  line-height: 120%;
  &::selection{
    background-color: rgba(141, 101, 197, .5);
  }
}
img::selection{
    background-color: transparent;
}
h6{
  font-size: 19px;
  font-weight: 500;
}
h5{
  font-size: 30px;
  font-weight: 500;
}
p{
  font-weight: 400;
  font-size: 16px;
}
a{
  text-decoration: none;
  display: flex;
}
input{
  outline: none;
}
body{
  min-height: 100vh;
  background-color: $black;
}
.container{
  width: min(100% - 15px, 1400px);
  margin-inline: auto;
  overflow: hidden;
}
.box{
  width: min(100%, 1300px);
  margin-inline: auto;
}
.button{
  padding: 0 12px;
  height: 42px;
  font-size: 16px;
  min-width: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-weight: 600;
  outline: none;
  color: $black;
  border-radius: 10px;
  background-color: $white;
  border: 1px solid $gray_dark;
  transition: all .3s ease-in-out;
  &:hover{
    box-shadow: 0 0 10px $white;
    border: 1px solid rgba(255, 255, 255, 1);
  }
}
.profile_button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: $gray_light;
  font-size: 15px;
  font-weight: 300;
  &:hover{
    img{
      border-color: $gray_light;
    }
  }
  img{
    transition: all .4s ease-in-out;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    border: 1px solid $gray_dark;
  }
}
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

// <-- HEADER HOME -->
header.home{
  padding: 15px 0;
  margin-bottom: 50px;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .toHome{
      display: flex;
      align-items: center;
      gap: 5px;
      span{
        font-weight: 600;
        font-size: 36px;
      }
    }
  }
}
// <-- HEADER HOME -->

// <-- HOME -->
.home{
  .container{
    .box{
      padding-bottom: 100px;
    }
    .createBox{
      text-align: center;
      img{
        margin-top: 150px;
        width: 200px;
        height: auto;
        margin-bottom: 50px;
        transform-origin: bottom;
        filter: blur(20px);
        animation: swinging 10s linear infinite;
        @keyframes swinging {
          0% {
            transform: rotate(0deg);
          }
          25% {
            transform: rotate(45deg);
          }
          50% {
            transform: rotate(0deg);
          }
          75% {
            transform: rotate(-45deg);
          }
          100%{
            transform: rotate(0deg);

          }
        }
      }
      p{
        margin-bottom: 15px;
      }
      .button{
        margin: auto;
        width: max-content;
        &:before{
          color: $black;
          content: '+';
          margin-right: 6px;
          font-weight: 700;
        }
      }
    }
    .myGatesBox{
      margin-top: 50px;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      .gate{
        background: linear-gradient(320deg, #695535, #493565, #6c2f2f);
        flex: 1 1 33%;
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
        max-width: 400px;
        cursor: pointer;
        width: min-content;
        overflow: hidden;
        display: flex;
        position: relative;
        transition: all .3s ease-in-out;
        border-radius: 12px;
        border: 1px solid rgba(128, 128, 128, .5);
        &:hover{
          border: 1px solid $gray_light;
          .bioBox{
            p{
              opacity: 1;
            }
            .buttonsBox .button{
              color: $white;
              border-color: $gray_light;
            }
          }
          img{
            border-color: $gray_light;
            &.imgUnavailable{
              opacity: .2;
              background-color: rgba(0, 0, 0, .7);
            }
          }
        }
        &:nth-child(2){
          background: linear-gradient(45deg, #726b28, #254370, #412e65);
        }
        &:nth-child(3){
          background: linear-gradient(125deg, #6c2f2f, #2f5e46, #5e5a2f);
        }
        &:nth-child(4){
          background: linear-gradient(320deg, #726b28, #6c2f2f, #254370);
        }
        &:nth-child(5){
          background: linear-gradient(45deg, #493565, #2f5e46, #56452b);
        }
        &:nth-child(6){
          background: linear-gradient(125deg, #726b28, #254370, #6c2f2f);
        }
        &:last-child{
          position: relative;
          opacity: .2;
          min-height: 172px;
          &:hover{
            span{
              opacity: .3;
            }
          }
          span{
            transition: all .3s ease-in-out;
            position: absolute;
            font-size: 200px;
            font-weight: 800;
            top: -17px;
            opacity: .1;
            line-height: 1;
            left: 140px;
          }
        }
        .imgAvailable{
          height: 172px;
          width: 172px;
          transition: all .3s ease-in-out;
          border-right: 1px solid rgba(128, 128, 128, .5);
          flex: 1 1 100%;
          max-width: 172px;
          max-height: 172px;
          object-fit: cover;
          box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
        }
        .imgUnavailable{
          transition: all .3s ease-in-out;
          background-color: black;
          border-right: 1px solid rgba(255, 255, 255, 1);
          padding: 35px;
          width: 172px;
          height: 172px;
          opacity: .15;
          box-shadow: 2px 0 10px rgba(255, 255, 255, 0.2);
        }
        .bioBox{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .textBox{
            padding: 10px 10px 0;
            h6{
              font-size: 23px;
              margin-bottom: 10px;
            }
            p{
              transition: all .3s ease-in-out;
              opacity: .6;
              margin-bottom: 10px;
            }
          }
          .buttonsBox{
            display: flex;
            gap: 8px;
            padding: 0 8px;
            justify-content: center;
            margin-bottom: 8px;
            .button{
              color: rgba(255, 255, 255, 0.7);
              background-color: rgba(255, 255, 255, .05);
              border-color: $gray;
              padding: 0 6px;
              height: 35px;
              &:hover{
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}
// <-- HOME -->

// <-- HEADER EDIT -->
header.edit{
  padding: 15px 0;
  margin-bottom: 50px;
  .container{
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .toHome{
      font-size: 25px;
      font-weight: 500;
      &:before{
        content: '<';
        font-weight: 300;
        margin-right: 15px;
      }
    }
  }
}
// <-- HEADER EDIT -->

// <-- EDIT -->
.edit{
  .container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .editMyCodesBox, .valuesAndConfigBox{
      width: 25%;
      h5{
        background: linear-gradient(165deg, #726b28, #254370, #6c2f2f);
        border-radius: 8px;
        padding: 3px 10px;
        text-align: center;
        color: #c7c3c3;
        margin-bottom: 20px;
        border: 1px solid #5b5b5b;
      }
    }
  }
  .editMyCodesBox{
    ul li{
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      border-radius: 6px;
      padding: 5px 10px;
      transition: all .3s ease-in-out;
      &:hover, &:focus-within{
        background-color: rgba(128, 128, 128, .3);
      }
      .code{
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        transition: all .3s ease-in-out;
      }
      .codeAttempts{
        width: 75px;
        text-align: right;
        -moz-appearance: textfield;
        opacity: .5;
        font-weight: 600;
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .delete{
        margin-left: 10px;
        font-weight: 700;
        rotate: 45deg;
        font-size: 20px;
        color: $red;
        opacity: .5;
        transition: all .3s ease-in-out;
        &:hover{
          opacity: 1;
        }
      }
      &:last-child{
        cursor: pointer;
        &:hover{
          .code{
            opacity: .5;
          }
          .delete{
            opacity: 1;
          }
        }
        .code{
          opacity: .2;
        }
        .delete{
          opacity: .2;
          rotate: 0deg;
          color: $green;
        }
      }
    }
  }
  .editMyGateBox{
    flex: 1;
    border: 1px solid #5b5b5b;
    border-radius: 15px;
    padding: 25px 0;
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(320deg, #726b28, #6c2f2f, #254370);
    .imageEditor{
      position: relative;
      .imageBox{
        width: 200px;
        margin: auto auto 40px;
        height: 200px;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, .3);
        border: 1px solid rgba(128, 128, 128, .5);
        overflow: hidden;
        position: relative;
        cursor: pointer;
        display: flex;
        transition: all .4s ease-in-out;
        align-items: center;
        justify-content: center;
        &:hover{
          border: 1px solid rgb(164, 164, 164);
          background-color: rgba(0, 0, 0, .4);
          .hoverIcon{
            opacity: .3;
            filter: drop-shadow(2px 2px 10px #000) ;
            &.withImage{
              opacity: .75;
            }
          }
          .previewImage{
            filter: blur(3px) grayscale(50%);
          }
        }
        .previewImage, .hoverIcon{
          position: absolute;
          transition: all .4s ease-in-out;
        }
        .hoverIcon{
          width: 100px;
          height: 100px;
          opacity: .15;
          &.withImage{
            opacity: 0;
          }
        }
      }
    }
    .gateBio{
      max-width: 400px;
      margin: auto;
      .titleInput{
        padding: 0 10px;
        max-width: 400px;
        width: 100%;
        font-weight: 500;
        text-align: left;
        font-size: 30px;
        margin-bottom: 15px;
        border-radius: 6px;
        transition: all .3s ease-in-out;
        &:hover, &:focus{
          background-color: rgba(128, 128, 128, .3);
        }
      }
      .descriptionInput{
        padding: 5px 10px;
        max-width: 400px;
        width: 100%;
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 20px;
        opacity: .7;
        transition: all .3s ease-in-out;
        border-radius: 6px;
        &:hover, &:focus{
          background-color: rgba(128, 128, 128, .3);
        }
      }
      .button{
        color: #93938e;
        margin-bottom: 20px;
        justify-content:flex-start;
        max-width: 200px;
        cursor: text;
        &.codePlaceholder{
          text-align: left;
        }
        &.save{
          cursor: pointer;
          justify-content: center;
        }
      }
      .submitButtonBox{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        .submitButton{
          margin-bottom: 0;
          min-width: 40px;
          cursor: pointer;
          text-align: center;
          color: $black;
        }
        .submitButtonPlaceholder{
          padding: 5px 10px;
          flex: 1 1 auto;
          max-width: 400px;
          text-align: left;
          font-weight: 400;
          font-size: 16px;
          border-radius: 6px;
          transition: all .3s ease-in-out;
          opacity: .7;
          &:hover, &:focus{
            background-color: rgba(128, 128, 128, .3);
          }
        }
      }
    }
    .saveBox{
      padding-top: 25px;
      border-top: 1px solid $gray;
      max-width: 400px;
      margin: auto;
      display: flex;
      justify-content: flex-end;
    }
  }
  .valuesAndConfigBox{
    .editMyValuesBox{
      h5{
        background: linear-gradient(320deg, #695535, #493565, #6c2f2f);
      }
      ul li{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;
        .button{
          cursor: text;
          color: #93938e;
          justify-content:flex-start;
          width: 200px;
        }
        .delete{
          font-weight: 700;
          rotate: 45deg;
          font-size: 20px;
          color: $red;
          opacity: .5;
          transition: all .3s ease-in-out;
          &:hover{
            opacity: 1;
          }
        }
        &:last-child{
          margin-bottom: 0;
          cursor: pointer;
          &:hover{
            .button{
              opacity: .5;
              cursor: pointer;
            }
            .delete{
              opacity: 1;
            }
          }
          .button{
            opacity: .2;
          }
          .delete{
            opacity: .2;
            rotate: 0deg;
            color: $green;
          }
        }
      }
    }
    .editExtra{
      margin-top: 50px;
      h5{
        background: linear-gradient(225deg, #493565, #2f5e46, #56452b);
      }
      .buttonsBox{
        .copyDelete{
          display: flex;
          gap: 17px;
          justify-content: space-between;
          margin-bottom: 18px;
          .button{
            border-color: #4b5898;
            &:hover{
              border-color: #003cff;
            }
          }
          .delete{
            border-color: #6c2f2f;
            &:hover{
              border-color: #dc2a2a;
            }
          }
        }
        .button{
          width: 100%;
          background-color: transparent;
          color: #c7c3c3;
          border-color: #64468d;
          &:hover{
            box-shadow: none;
            border-color: #8332f1;
          }
          &.enter{
            border-color: #888241;
            margin: 18px 0;
            &:hover{
              border-color: #FFF478;
            }
          }
        }
      }
    }
  }
}
// <-- EDIT -->

// <-- PUBLIC GATE -->
.publicGate{
  padding: 100px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form{
    text-align: center;
  }
  .publicImage{
    border-radius: 25px;
    border: 1px solid rgba(128, 128, 128, .5);
    margin-bottom: 40px;
  }
  h5{
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    font-size: 60px;
  }
  p{
    text-align: center;
    margin-bottom: 20px;
    opacity: .7;
  }
  .inputBox{
    width: 230px;
    margin: auto auto 20px;
    position: relative;
    text-align: left;
    &:focus-within{
      label{
        display: none;
      }
    }
    .button{
      cursor: text;
      width: 100%;
    }
    label{
      cursor: text;
      position: absolute;
      bottom: 11px;
      left: 12px;
      color: #93938e;
      display: flex;
      font-weight: 600;
      &.d_none{
        display: none;
      }
    }
  }
  .submitButton{
    min-width: 40px;
    height: 38px;
    margin: auto;
  }
  .formPage{
    padding-top: 150px;
  }
}
// <-- PUBLIC GATE -->

// <-- LANDING -->
.landing{
  h3{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
  }
  .blob{
    position: absolute;
    z-index: -1;
    width: 300px;
    height: 300px;
    border-radius: 40%;
    filter: blur(100px);
    &.violet{
      top: 38%;
      left: 12%;
      opacity: .5;
      background: linear-gradient(to top left, #b84fce 0%, #d4acfb 100% );
    }
    &.razz{
      top: 15%;
      left: 60%;
      opacity: .7;
      background: linear-gradient(to top left, #45caff 0%, #ff1b6b 100% );
    }
    &.rose{
      top: 0;
      left: -10%;
      opacity: .3;
      background: linear-gradient(to top left, #F5F4F2 0%, #FF4081 100% );
    }
    &.yellow{
      top: 15%;
      left: 60%;
      opacity: .2;
      background: linear-gradient(to top left, #f7f779 0%, #fbd07c 100% );
    }
    &.green{
      top: 38%;
      left: 12%;
      opacity: .3;
      background: linear-gradient(to top left, #aefb2a 0%, #57ebde 100% );
    }
    &.brown{
      top: 62%;
      left: 65%;
      opacity: .4;
      background: linear-gradient(to top left, #735d78 0%, #f7d1cd 100% );
    }
    &.blue{
      background: linear-gradient(to top left, #0974f1 0%, #9fccfa 100% );
      opacity: .4;
      bottom: -5%;
      left: 0;
    }
  }
  header{
    padding: 15px 0;
    margin-bottom: 50px;
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logoBox{
        display: flex;
        align-items: center;
        gap: 5px;
        span{
          font-weight: 600;
          font-size: 36px;
        }
      }
      .buttonsBox{
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
  .mainBanner{
    padding: 150px 0 250px;
    text-align: center;
    position: relative;
    .container{
      overflow: visible;
    }
    h1{
      font-size: 90px;
      font-weight: 600;
    }
    h2{
      font-size: 60px;
      line-height: 100%;
      font-weight: 600;
      margin-bottom: 20px;
    }
    p{
      font-size: 20px;
      opacity: .5;
      line-height: 150%;
      max-width: 625px;
      font-weight: 200;
      margin: auto auto 30px;
    }
    .button{
      position: relative;
      padding: 0 20px;
      height: 50px;
      margin: auto;
      font-size: 20px;
      color: $white;
      border-color: rgba(51, 51, 51, 0.56);
      background-color: rgba(0, 0, 0, 0.4);
      box-shadow: none;
      &:hover{
        border-color: rgba(255, 255, 255, 0.56);
      }
      &:before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top left, #f7cad0 0%, #ff0a54 100% );
        transform: translate3d(-3px, 3px, 0) scale(1.09);
        filter: blur(30px);
        opacity: .77;
        transition: opacity 0.3s;
        border-radius: inherit;
      }
    }
  }
  .solution{
    padding: 100px 0 250px;
    .container{
      overflow: visible;
    }
    h3{
      max-width: 60%;
      margin: auto auto 10px;
    }
    .suited{
      font-size: 20px;
      text-align: center;
      margin: auto auto 35px;
      opacity: .5;
      max-width: 625px;
      font-weight: 200;
    }
    .solutionImage{
      max-width: 70%;
      margin: auto;
      position: relative;
      &:before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top left, #efea5a 0%, rgba(99, 243, 217, 0.44) 100% );
        transform: translate3d(-3px, 3px, 0) scale(1.09);
        filter: blur(30px);
        opacity: .2;
        transition: opacity 0.3s;
        border-radius: inherit;
      }
      .sol1, .sol2, .sol3{
        border-radius: 15px;
        border: 1px solid rgba(128, 128, 128, .5);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
        .fakeInput{
          background-color: white;
          font-size: 14px;
          font-weight: 600;
          color: #93938e;
          border: 1px solid $gray_dark;
          width: 190px;
          border-radius: 10px;
          padding: 8px 10px;
          &:last-child{
            width: max-content;
            color: $black;
            font-weight: 600;
            border-radius: 8px;
            padding: 7px 8px;
          }
        }
      }
      .sol1{
        width: 100%;
        height: auto;
        padding: 100px 0 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 14px;
        background-color: $black;
        img{
          width: 150px;
          border-radius: 22px;
          height: 150px;
          border: 1px solid rgba(128, 128, 128, .5);
        }
        h6{
          font-weight: 600;
          font-size: 45px;
        }
        p{
          opacity: .7;
          font-weight: 300;
          font-size: 13px;
        }
      }
      .sol2{
        position: absolute;
        top: 50px;
        padding: 50px 60px;
        right: -120px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        background-color: $black;
      }
      .sol3{
        padding: 40px 0;
        font-weight: 500;
        text-align: center;
        background-color: $black;
        font-size: 35px;
        width: 425px;
        height: auto;
        position: absolute;
        bottom: -60px;
        left: -120px;
      }
    }
  }
  .features{
    padding-bottom: 100px;
    position: relative;
    .container{
      overflow: unset;
    }
    h3{
      margin-bottom: 100px;
    }
    .content{
      height: 2325px;
      width: 100%;
      position: relative;
      .image{
        position: sticky;
        top: calc(50% - 250px);
        left: 100%;
        margin-right: 200px;
        box-shadow: 0 0 50px rgba(255, 255, 255, .2);
        border: 1px solid rgba(128, 128, 128, .5);
        border-radius: 25px;
        width: 500px;
        height: 500px;
      }
      h5{
        left: 200px;
        line-height: 140%;
        position: absolute;
        font-weight: 600;
        max-width: 500px;
        transition: opacity .5s ease-in-out;
        opacity: 1;
        font-size: 50px;
        &.invisible{
          opacity: .25;
        }
        &:nth-child(1){
          top: 170px;
        }
        &:nth-child(2){
          top: 750px;
        }
        &:nth-child(3){
          top: 1330px;
        }
        &:nth-child(4){
          top: 2010px;
        }
      }
    }
  }
  .faq{
    padding: 100px 0 200px;
    position: relative;
    overflow: hidden;
    .container{
      overflow: visible;
    }
    h3{
      max-width: 600px;
      margin: auto auto 50px;
    }
    .questionsBox{
      .question{
        position: relative;
        max-width: 800px;
        margin: auto auto 50px;
        background-color: rgba(0, 0, 0, .2);
        padding: 20px;
        border-radius: 15px;
        cursor: pointer;
        transition: all .4s linear;
        &:hover:before{
          opacity: .25;
        }
        &.active:before{
          opacity: .3;
        }
        &:before {
          content: "";
          z-index: -1;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transform: translate3d(-3px, 3px, 0) scale(1.09);
          filter: blur(30px);
          opacity: .2;
          transition: opacity 0.3s;
          border-radius: inherit;
          background: linear-gradient(to top left, #F5F4F2 0%, #FF4081 100% );
        }
        &:nth-child(2):before{
          background: linear-gradient(to top right, #45caff 0%, #ff1b6b 100% );
        }
        &:nth-child(3):before{
          background: linear-gradient(to top left, #fba02a 0%, #57ebde 100% );
        }
        button{
          width: 100%;
          font-size: 23px;
          font-weight: 400;
          color: rgba(255, 255, 255, .7);
        }
        div{
          transition: all .4s linear;
          max-height: 0;
          opacity: 0;
          overflow: hidden;
          &.toggled{
            opacity: 1;
            max-height: 80px;
          }
          p{
            font-size: 20px;
            font-weight: 200;
            line-height: 140%;
            margin-top: 20px;
          }
        }
      }
    }
  }
  footer{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .developed{
      font-weight: 200;
      a{
        display: inline;
        color: $red;
        letter-spacing: 0.5px;
        animation: rainbow 15s infinite;
        @keyframes rainbow {
          0%{
            color: $red;
          }
          20%{
            color: $violet;
          }
          40%{
            color: $blue;
          }
          60%{
            color: $green;
          }
          80%{
            color: $yellow;
          }
          100%{
            color: $red;
          }
        }
      }
    }
    .gitRepo{
      opacity: .5;
      transition: opacity .3s linear;
      &:hover{
        opacity: 1;
      }
    }
  }
}
// <-- LANDING -->
