@import "destyle.css";
$white: #F3F1E5;
$black: #151515;
$gray_dark: #333333;
$gray_light: #e3e2e2;

*{
  padding: 0;
  margin: 0;
  color: $white;
  line-height: 120%;
  &::selection{
    background-color: rgba(141, 101, 197, .8);
  }
}
img::selection{
    background-color: transparent;
}
h6{
  font-size: 19px;
  font-weight: 500;
}
h5{
  font-size: 30px;
  font-weight: 500;
}
p{
  font-weight: 400;
  font-size: 16px;
}
a{
  text-decoration: none;
  display: flex;
}
body{
  min-height: 100vh;
  background-color: $black;
}
.container{
  width: min(100% - 15px, 1400px);
  margin-inline: auto;
  overflow: hidden;
}
.box{
  width: min(100%, 1200px);
  margin-inline: auto;
}
.button{
  padding: 0 12px;
  height: 42px;
  font-size: 16px;
  min-width: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-weight: 600;
  outline: none;
  color: $black;
  border-radius: 10px;
  background-color: $white;
  border: 1px solid $gray_dark;
  transition: all .3s ease-in-out;
  &:hover{
    box-shadow: 0 0 10px $white;
    border: 1px solid rgba(255, 255, 255, 1);
  }
}
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

// <-- HEADER HOME -->
header.home{
  padding: 15px 0;
  margin-bottom: 50px;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .toHome{
      display: flex;
      align-items: center;
      gap: 5px;
      span{
        font-weight: 600;
        font-size: 36px;
      }
    }
    .profile_button{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      color: $gray_light;
      font-size: 15px;
      font-weight: 300;
      &:hover{
        img{
          border-color: $gray_light;
        }
      }
      img{
        transition: all .4s ease-in-out;
        border-radius: 8px;
        height: 40px;
        width: 40px;
        border: 1px solid $gray_dark;
      }
    }
  }
}
// <-- HEADER HOME -->

// <-- HOME -->
.home{
  .container{
    .box{
      padding-bottom: 100px;
    }
    .createBox{
      text-align: center;
      img{
        margin-top: 150px;
        width: 200px;
        height: auto;
        margin-bottom: 50px;
        transform-origin: bottom;
        filter: blur(20px);
        animation: swinging 10s linear infinite;
        @keyframes swinging {
          0% {
            transform: rotate(0deg);
          }
          25% {
            transform: rotate(45deg);
          }
          50% {
            transform: rotate(0deg);
          }
          75% {
            transform: rotate(-45deg);
          }
          100%{
            transform: rotate(0deg);

          }
        }
      }
      p{
        margin-bottom: 15px;
      }
      .button{
        margin: auto;
        width: max-content;
        &:before{
          color: $black;
          content: '+';
          margin-right: 6px;
          font-weight: 700;
        }
      }
    }
  }
}
// <-- HOME -->

// <-- HEADER EDIT -->
header.edit{
  padding: 15px 0;
  margin-bottom: 50px;
  .container{
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .toHome{
      display: flex;
      align-items: center;
      gap: 20px;
      a{
        font-size: 25px;
        width: max-content;
        font-weight: 500;
        &:before{
          content: '<';
          font-weight: 300;
          margin-right: 15px;
        }
      }
      .gateStatus{
        opacity: .5;
        font-size: 14px;
      }
    }
  }
}
// <-- HEADER EDIT -->

// <-- EDIT -->
.edit{
  .container{
    display: flex;
    justify-content: center;
  }
  .editMyCodesBox{
    padding-top: 100px;
    width: 25%;
    h5{
      margin-bottom: 20px;
    }
    ul li{
      margin-bottom: 5px;
      font-size: 16px;
      width: 100%;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      span{
        opacity: .5;
        font-weight: 600;
        transition: all .3s linear;
        &:hover{
          opacity: 1;
        }
      }
      &.addCode{
        border-top: 1px solid gray;
        margin-bottom: 0;
        margin-top: 10px;
        padding-top: 5px;
      }
    }
  }
  .editMyGateBox{
    flex: 1;
    border: 1px solid #5b5b5b;
    border-radius: 15px;
    padding: 25px 0;
    width: 50%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    background: linear-gradient(320deg, #726b28, #254370, #412e65);
    img{
      border-radius: 25px;
      border: 1px solid $gray_light;
      margin-bottom: 40px;
    }
    .gateBio{
      max-width: 400px;
      margin: auto;
      h5{
        font-weight: 500;
        text-align: left;
        font-size: 30px;
        margin-bottom: 20px;
      }
      p{
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 20px;
        opacity: .7;
      }
      .button{
        color: #93938e;
        margin-bottom: 20px;
        justify-content:flex-start;
        max-width: 200px;
        &.submit{
          color: $black;
          justify-content: center;
          max-width: unset;
          width: max-content;
        }
      }
    }
  }
  .editMyValuesBox{
    padding-top: 100px;
    width: 25%;
    h5{
      margin-bottom: 20px;
    }
    ul li{
      display: flex;
      gap: 20px;
      .button{
        color: #93938e;
        margin-bottom: 10px;
        justify-content:flex-start;
        width: 200px;
      }
      &:last-child{
        opacity: .2;
        span{
          display: none;
        }
      }
    }
  }
}
// <-- EDIT -->