@import "variables";

// <-- PUBLIC -->
.publicGate{
  padding: 100px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form{
    text-align: center;
  }
  .publicImage{
    border-radius: 25px;
    border: 1px solid rgba(128, 128, 128, .5);
    margin-bottom: 40px;
  }
  h5{
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    font-size: 60px;
  }
  p{
    text-align: center;
    margin-bottom: 20px;
    opacity: .7;
  }
  .inputBox{
    width: 230px;
    margin: auto auto 20px;
    position: relative;
    text-align: left;
    &:focus-within{
      label{
        display: none;
      }
    }
    .button{
      cursor: text;
      width: 100%;
    }
    label{
      cursor: text;
      position: absolute;
      bottom: 11px;
      left: 12px;
      color: #93938e;
      display: flex;
      font-weight: 600;
      &.d_none{
        display: none;
      }
    }
  }
  .submitButton{
    min-width: 40px;
    height: 38px;
    margin: auto;
  }
  .formPage{
    padding-top: 150px;
  }
}
// <-- PUBLIC -->