$white: #F3F1E5;
$black: #151515;
$gray_dark: #333333;
$gray_light: #e3e2e2;
$gray: #808080FF;
$red: #F8312F;
$green: #00D26A;
$blue: #3F5FFF;
$violet: #8d65c5;
$yellow: #FFF478;
$orange: #FFB02E;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}